<widget id="snooby" version="0.0.1" 
  xmlns="http://www.w3.org/ns/widgets" 
  xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Snooby</name>
  <description>Reddit client for BlackBerry 10</description>
  <rim:splash src="img/splash.png"/>
  <content src="index.html"/>
  <access origin="http://redditmedia.com" subdomains="true"/>
  <access origin="https://redditmedia.com" subdomains="true"/>
  <access origin="http://reddit.com" subdomains="true"/>
  <access origin="https://reddit.com" subdomains="true"/>
  <license href="MIT"/>
  <icon src="img/icons/app-114.png"/>
  <author email="info@lxmx.org" href="https://github.com/BerryTrucks">Amos Chan / BerryTrucks</author>
</widget>